@font-face {
	font-family: "Salesforce Sans";
	src: url("https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Regular.woff") format("woff"),
		url("https://www.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Regular.ttf") format("truetype");
}

html,
body {
	margin: 0;
	width: 100vw;
	overflow-x: hidden;
	font-size: 16px;
	background-color: #f8f7fa;
	font-family: "Salesforce Sans", sans-serif;
}

.header {
	position: relative;
	display: flex;
	flex-direction: row;
	height: 90px;
	width: 100%;
	padding: 0 80px;
	background-color: #fff;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
	z-index: 1;
	box-sizing: border-box;
}

.header-logo {
	background-image: url("images/logo.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	min-width: 100px;
	height: 100%;
	margin-right: 50px;
}

.header-item {
	display: flex;
	height: 100%;
	padding: 0 20px;
	margin-left: 20px;
	font-size: 1.25rem;
	align-items: center;
	color: #3b3b3b;
	box-sizing: border-box;
}

.header-item.active {
	border-bottom: 4px solid #3f22a4;
}

.header-menu {
	display: none;
	width: 32px;
	height: 32px;
	margin-right: 20px;
	fill: #888;
	align-self: center;
}

.hero {
	position: relative;
	background-color: #8c55d9;
	height: 500px;
	width: 100%;
	z-index: 0;
}

.hero-search {
	position: absolute;
	left: 50%;
	top: 30px;
	transform: translate(-50%, 0);
	width: 550px;
	height: 55px;
	background-color: #fff;
	border-radius: 4px;
}

.hero-search::before {
	content: "";
	position: absolute;
	left: 10px;
	top: calc(50% - 16px);
	width: 32px;
	height: 32px;
	background-image: url("images/spyglass.png");
	background-size: cover;
	background-position: center;
}

.hero-content {
	position: relative;
	margin: 0 auto;
	width: 100%;
	padding: 0 80px;
	top: 160px;
	box-sizing: border-box;
}

.hero-text {
	font-size: 4em;
	color: #fff;
	width: 100%;
	max-width: 800px;
}

.hero-button {
	display: inline-block;
	border: 2px solid #fff;
	color: #fff;
	height: 30px;
	padding: 10px 30px;
	border-radius: 40px;
	line-height: 30px;
	margin-top: 50px;
}

.featured-products {
	padding: 0 80px;
	width: 100%;
	box-sizing: border-box;
}

.featured-products-title {
	padding: 40px 0;
	text-align: center;
	color: #4b4655;
	font-size: 2.5rem;
}

.featured-products-items {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.featured-products-item {
	flex-grow: 1;
	align-self: stretch;
}

.featured-products-item-image {
	width: 300px;
	height: 200px;
	margin: 0 auto;
	background-size: cover;
	background-position: center;
}

.featured-products-item-text {
	margin-top: 20px;
	text-align: center;
	color: #935fdb;
}

.featured-products-carousel-dots {
	margin-top: 25px;
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.featured-products-carousel-dot {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	background-color: #999;
}

.featured-products-carousel-dot.active {
	background-color: #8c55d9;
}

.offshore-box-wireless .featured-products-item-image {
	background-image: url("images/offshore-box.png");
}

.backshore-box-2 .featured-products-item-image {
	background-image: url("images/backshore-box.png");
}

.shoreline-router .featured-products-item-image {
	background-image: url("images/shoreline-router.png");
}

.share {
	width: 100%;
	padding: 100px 80px 40px;
	box-sizing: border-box;
}

.share-title {
	font-size: 4rem;
	color: #0f032d;
	max-width: 700px;
	margin-bottom: 40px;
}

.share-items {
	display: flex;
	flex-direction: row;
	height: 800px;
}

.share-column {
	display: flex;
	flex-direction: column;
}

.share-column:not(:last-child) {
	margin-right: 20px;
}

.share-left {
	flex-grow: 2;
	flex-basis: 66%;
}

.share-right {
	flex-grow: 1;
	flex-basis: 33%;
}

.share-item {
	position: relative;
	width: 100%;
	align-self: stretch;
	flex-grow: 1;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
	overflow: hidden;
}

.share-item:not(:last-child) {
	margin-bottom: 20px;
}

.game-of-thrones {
	position: relative;
	background-image: url("images/game-of-thrones.jpg");
	background-size: cover;
	background-position: top right;
	background-repeat: no-repeat;
}

.game-of-thrones-backdrop {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	background: linear-gradient(to top, rgba(15, 3, 45, 1) 0%, rgba(15, 3, 45, 1) 50%, rgba(15, 3, 45, 0) 100%);
}

.game-of-thrones-text {
	position: absolute;
	width: 400px;
	font-size: 3.5rem;
	font-weight: 800;
	color: #fff;
	left: 20px;
	top: calc(50% + 20px);
}

.get-connected-image {
	position: relative;
	background-image: url("images/talking-on-phone.jpg");
	width: 100%;
	height: 400px;
	background-size: cover;
	background-position: top right;
}

.get-connected-image::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(to bottom, rgba(137, 83, 213, 0) 0%, rgba(137, 83, 213, 1) 95%, rgba(137, 83, 213, 1) 100%);
	z-index: 1;
}

.get-connected-title {
	padding: 0 20px;
	margin-top: 20px;
	font-size: 3rem;
	font-weight: 800;
	color: #0f032d;
}

.get-connected-subtitle {
	padding: 0 20px;
	margin-top: 20px;
	font-size: 1rem;
	color: #7d7984;
}

.share-item-action {
	background-color: #8c55d9;
	color: #fff;
	padding: 10px 30px;
	height: 30px;
	border-radius: 40px;
	line-height: 30px;
	display: inline-block;
	margin: 20px 0 0 20px;
}

.map-image {
	position: absolute;
	width: 500px;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url("images/map.png");
	background-size: cover;
	background-position: center;
	border-radius: 4px 0 0 4px;
}

.footer {
	display: flex;
	width: 100%;
	height: 200px;
	padding: 0 80px;
	flex-direction: row;
	box-sizing: border-box;
}

.footer-logo {
	min-width: 80px;
	background-image: url("images/logo-footer.png");
	background-size: contain;
	background-position: top center;
	background-repeat: no-repeat;
	margin-right: 80px;
}

.footer-column {
	display: flex;
	flex-direction: column;
	width: 200px;
	margin: 0 30px;
}

.footer-column-header {
	color: #373737;
	font-size: 1.25rem;
	font-weight: 800;
}

.footer-column-link {
	color: #373737;
	margin: 5px 0;
}

@media screen and (max-width: 768px) {
	.header {
		padding: 0 10px;
		justify-content: space-between;
	}

	.header-logo {
		min-width: 80px;
		margin-left: 10px;
	}

	.header-item {
		display: none;
	}

	.header-menu {
		display: block;
	}

	.hero-search {
		width: 300px;
	}

	.hero-content {
		top: 120px;
	}

	.hero-text {
		font-size: 3em;
	}

	.share-title {
		font-size: 3em;
	}

	.get-connected-title {
		font-size: 2.0rem;
	}

	.footer {
		margin-bottom: 20px;
		padding: 0 20px;
	}

	.footer-logo {
		margin: 0 20px 0 0;
		min-width: 50px;
	}

	.footer-column {
		margin: 0 10px;
	}

	.footer-column-header {
		font-size: 1rem;
	}

	.footer-column-link {
		font-size: 0.75rem;
	}
}

@media screen and (max-width: 1024px) {
	.header-logo {
		margin-right: 0;
	}
	
	.featured-products {
		padding: 20px;
	}

	.featured-products-carousel-dots {
		display: flex;
	}

	.featured-products-item:not(:first-child) {
		display: none;
	}

	.share {
		padding: 20px 20px 0;
	}

	.share-title {
		text-align: center;
		margin: 0 auto 40px;
	}

	.share-items {
		flex-direction: column;
		height: 1000px;
	}

	.share-column {
		width: 100%;
		margin: 0 0 20px;
	}

	.game-of-thrones-backdrop {
		border-radius: 4px;
	}

	.game-of-thrones-text {
		font-size: 2.5rem;
		width: calc(100% - 40px);
	}

	.get-connected-image {
		position: absolute;
		z-index: 0;
		height: 100%;
		border-radius: 4px;
	}

	.get-connected-image::after {
		border-radius: 4px;
	}

	.get-connected-title {
		position: absolute;
		top: 30%;
		color: #fff;
		z-index: 1;
	}

	.get-connected-subtitle {
		position: absolute;
		top: calc(30% + 82px);
		z-index: 1;
		color: #fff;
	}

	.share-item-action {
		position: absolute;
		top: calc(30% + 132px);
		background-color: none;
		color: #fff;
		border: 2px solid #fff;
		z-index: 1;
	}
}